* {
  font-family: "Poppins", sans-serif;
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Oswald", sans-serif; */
  font-style: normal;
  scroll-behavior: smooth;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

button{
  cursor: pointer;
}

@keyframes scroll-down-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scroll-down {
  animation: scroll-down-animation 2s ease-in-out infinite;
}